# OS X
.DS_Store

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
!tipsi.xcworkspace
xcuserdata
profile
*.moved-aside

# generic osx
*~
*.lock
!Podfile.lock
!Manifest.lock
*.DS_Store
.DS_Store
*.swp
*.out

# idea
.idea/*
*.scm
